@import url(https://fonts.googleapis.com/css2?family=Montserrat);

html body{
    background: #020B0AFF url("../img/freaks2.jpg") no-repeat;
    background-size: cover;}

.menu {
    color:#2F5150;
    position: relative;
    top:0;
    left:0;
    width: 500px;
    height: 350px;
    font: 22px "Montserrat";
}

ul.menu {
    text-decoration: none;
    list-style-type:none;
}

.menu li:first-child{
    color: whitesmoke;
    font-size: 30px;
}

.menu li a:link {text-decoration: none; color:#2F5150FF;}
.menu li a:visited {text-decoration: none; color:#416C6BFF;}
.menu li a:hover {text-decoration: none; color:#A4DAD4FF; transition: all 1s ;}
.menu li a:active {text-decoration: none; color: #ADE07EEA;}

.carousel {
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 25px 25px 25px 25px ;
}
/* Carousel base class */
.carousel{
    background-color: rgba(0, 0, 0, 0.85);
    margin-left: 10px;
    margin-right: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 1rem;
    z-index: 10;
}

.carousel-control-next, .carousel-control-prev {
    width: 30px;
}
    /* Declare heights because of positioning of img element */
.carousel-item {
    padding-left: 4px;
    padding-right: 4px;
}
.card {
    /*box-shadow: rgb(255, 255, 255) 0 3px 8px;*/
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
    color: var(--main-color);
    text-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 7px;
}

.card:hover {
    color: whitesmoke;
    background: linear-gradient(#416C6BFF, #95CCC6FF);
    border: solid 2px rgb(149, 204, 198);
    border-radius: 10px;
    padding: 0;
}

.card-img-overlay{
    text-shadow: #060a0a 2px 2px 2px;
    background-color: rgba(0, 0, 0, 0.32);
}
.card-img-overlay:hover{
    text-shadow: #060a0a 2px 4px 2px;
    background-color: rgba(0, 0, 0, 0.12);
}

.carousel-item > img {
    position: absolute;
    background-color: rgba(2, 11, 10, 0.21);
    top: 0;
    left: 0;
    min-width: 100%;
    height:300px;
    object-fit:cover;
}
@media (max-width: 767px) {
    .carousel{
        position: fixed;
        bottom: 5px;
        left: 0;
        height: 60%;
        width: 95%;
    }
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    .menu{
        width: 50%;
        font-size: 14px;
    }
    .menu li:first-child{
        color: whitesmoke;
        font-size: 18px;
    }

}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}