@import url(https://fonts.googleapis.com/css2?family=Montserrat);

html body {
    background: #020B0AFF url("../img/freaks2.jpg") no-repeat;
    background-size: cover;
}

.menu {
    opacity: 0;
    color: #2F5154;
    position: relative;
    top: 48px;
    left: -25px;
    margin-left: 70px;
    width: 453px;
    height: 0;
    font: 18px "Montserrat";
    background: #2f51501a;
    padding: 10px 0;
    border-radius: 0 0 20px 20px;
    transition: all 1s;
    transform: scale(100%, 0);

}

.menu.active {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    height: 120px;
    width: 435px;
    transition: all 0.6s;
    transform: scale(100%);

}

.menu ul {
    list-style-type: none;
}

.menu.active ul{
    list-style-type: none;
    text-decoration: none;
}

a.space-h {
    color: transparent;
    text-decoration: none;
    line-height: 0;
}

ul.menu {
    text-decoration: none;
    list-style-type: none;
}

li.menu:first-child {
    color: whitesmoke;
    font-size: 22px;
}


.menu li a:link {
    text-decoration: none;
    color: #2F5150FF;
}

.menu li a:visited {
    text-decoration: none;
    color: #416C6BFF;
}

.menu li a:hover {
    text-decoration: none;
    color: #A4DAD4FF;
    transition: all 1s;
}

.menu li a:active {
    text-decoration: none;
    color: #ADE07EEA;
}

.carousel {
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 25px 25px 25px 25px;
}

/* Carousel base class */
.carousel {
    background-color: rgba(0, 0, 0, 0.85);
    margin-left: 10px;
    margin-right: 10px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 1rem;
    z-index: 10;
}

.carousel-control-next, .carousel-control-prev {
    width: 30px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    padding-left: 4px;
    padding-right: 4px;
}

.card {
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
    color: var(--main-color);
    text-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 7px;
}

.card:hover {
    color: whitesmoke;
    background: linear-gradient(#416C6BFF, #95CCC6FF);
    border: solid 2px rgb(149, 204, 198);
    border-radius: 10px;
    padding: 0;
}

.card-img-overlay {
    color: rgba(245, 245, 245, 0.70);
    text-shadow: #060a0a 2px 2px 2px;
    background-color: rgba(0, 0, 0, 0.32);
}

.card-img-overlay:hover {
    color: white;
    text-shadow: #060a0a 2px 4px 2px;
    background-color: rgba(0, 0, 0, 0.12);
}

.carousel-item > img {
    position: absolute;
    background-color: rgba(2, 11, 10, 0.21);
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .carousel {
        position: fixed;
        bottom: 5px;
        left: 0;
        height: 60%;
        width: 95%;
    }

    .carousel-inner .carousel-item > div {
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

    .menu {
        width: 50%;
        font-size: 14px;
    }

    .menu li:first-child {
        color: whitesmoke;
        font-size: 18px;
    }

    a.space-h {
        font-size: 10px;
        color: transparent;
        text-decoration: none;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.login-menu {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 3px;
    border: 1px solid rgba(245, 245, 245, 0.13);
    padding: 8px;
}

.login-menu a>svg{
    display: flex;
    width: 24px;
    height: 24px;

    align-items: center;
    cursor: pointer;
}

.login-menu a>svg:hover{
    filter: brightness(50%)  ;
    animation: all .4s ease-in-out;
}

.container-secondary{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.login-menu-container{
    width: 42px;
    height: 38px;
    border: 1px black;
    border-radius: 25%;
    background: linear-gradient(#3fcece, #075f5f);
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-menu-container:hover {
    fill: black;

}