span {
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    -webkit-animation: smoky 5s 3s both;
    animation: smoky 5s 3s both;
    z-index: 100;
}

span:nth-child(even) {
    -webkit-animation-name: smoky-mirror;
    animation-name: smoky-mirror;
}

@-webkit-keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5) ;
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;

    }
    to {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}
@-webkit-keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}
@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}
span:nth-of-type(1) {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
}

span:nth-of-type(2) {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
}

span:nth-of-type(3) {
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
}

span:nth-of-type(4) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

span:nth-of-type(5) {
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
}

span:nth-of-type(6) {
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s;
}
